<mat-drawer-container>
  <mat-drawer id="drawer" *ngIf="authenticateservice.isAuthenticate" mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <button class="mat-icon" mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-sidenav [showText]="showText" (mouseover)="maximise()" (mouseleave)="minimise()"></app-sidenav>
  </mat-drawer>
  <mat-drawer-content (click)="minimiseSidebar()">
    <app-header *ngIf="authenticateservice.isAuthenticate" (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
