:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 65px;
  /*overflow: -moz-hidden-unscrollable;*/
}



mat-drawer:hover {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #063970;
}

.mat-icon {
  display: none;
  margin-top: 5px;
  outline: none;
  border: 0;
  background: transparent;
}

.mat-icon mat-icon{
  width: 50px;
  scale: 1.5;
}

@media screen and (max-width: 750px) {
  .mat-icon {
    display: block;
    max-height: 100vh;
  }
  .logo{
    height: 0;
  }
}
