<div class="col-md-12">
  <div class="x_title">
    <h2>Add Hostel Booking</h2>
  </div>
  <div class="x_content">
    <form class="" action="" method="post">
      <table class="table">
        <tr>
          <td style="border:0;">
            <label for="name">Start Date</label>
          </td>
          <td style="border:0;">
            <input class="form-control" type="date" name="startdate" value="" id="startdate" required>
          </td>
        </tr>
        <tr>
          <td style="border:0;">
            <label for="name">End Date</label>
          </td>
          <td style="border:0;">
            <input type="date" class="form-control" name="enddate" value="" id="enddate" required>
          </td>
        </tr>
        <tr>
          <td style="border:0;">
            <label for="name">Student Number</label>
          </td>
          <td style="border:0;">
            <input type="text" class="form-control" name="sid" value="" id="sid" required>
          </td>
        </tr>
        <tr>
          <td style="border:0;">
            <label for="name">Block</label>
          </td>
          <td style="border:0;">
            <select class="form-control" id="floortxt" name="floor" required>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="border:0;">
            <label for="name">Room No</label>
          </td>
          <td style="border:0;">
            <select class="form-control" name="room" id="txtHint" required>
              <option value="">1</option>
              <option value="">2</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="border:0;">
            <input class="form-control btn btn-warning" type="submit" name="request" value="Request" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
