<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2 dash">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
<!--    <div class="page__content-data position-absolute ">-->

    <div class="main-container">

      <div class="heading">
        <h1 class="heading__title">Summary</h1>
      </div>

      <div class="cards">
        <div class="card card-1">
          <!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
          <!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Total Booking Today</h2>
          <p class="card__apply">
            <a class="card__link" href="#">45<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-2">
<!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Booking Requests For Today</h2>
          <p class="card__apply">
            <a class="card__link" href="#">25<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-3">
<!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Payment</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Update <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-4">
<!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Check Availability</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Click to Check<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-5">
<!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Room Updates</h2>
          <p class="card__apply">
            <a class="card__link" href="#">Update Now <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
        <div class="card card-1">
<!--          <div class="card__icon"><i class="fas fa-bolt"></i></div>-->
<!--          <p class="card__exit"><i class="fas fa-times"></i></p>-->
          <h2 class="card__title">Available Rooms Today</h2>
          <p class="card__apply">
            <a class="card__link" href="#">25 <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
    </div>


<!--    </div>-->
  </div>
</div>
