:host .mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
}

mat-nav-list{
  overflow-x: hidden;
}

.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  height: 150px;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 1rem;
  height: 44px !important;
  margin-bottom: 5px;
}
.mat-list-item:hover {
  color: #f2f5f7 !important;
}
.mat-list-item ::ng-deep .mat-list-item-content {
  border-radius: 5px;
  margin: 0 8px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
  background: #2c3344 !important;
}
.list-item-active {
  color: #f2f5f7 !important;
}
.list-item-active ::ng-deep .mat-list-item-content {
  background: #1e92b7 !important;
}
.list-item-active ::ng-deep .mat-list-item-content:hover {
  background: #063970 !important;
}
.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

::ng-deep .myMenu{
  background-color: #C8F2EF;
}

.sub-menus{
  background-color: #00a2d2;
}

.sub-menus ::ng-deep .mat-list-item-content{
color: white;
}

.sub-menus .list-item-active ::ng-deep .mat-list-item-content {
  background: #036079 !important;
}

@media screen and (max-width: 750px) {
  .logo{
    height: 0;
    padding: 0;
  }
}

