<mat-nav-list>
  <div class="logo py-2">
<!--    <img src="./assets/logo.png" alt="Company Logo" />-->
  </div>
  <mat-divider></mat-divider>
<!--  <h2 matSubheader class="mt-2">APPLICATIONS</h2>-->
<br>
<!--  <a mat-list-item routerLinkActive="list-item-active"-->
<!--     (click)="clickMenuItem('home')" routerLink="/home">-->
<!--    <mat-icon>home</mat-icon> <span *ngIf="showText">Home</span>-->
<!--  </a>-->

  <a mat-list-item routerLinkActive="list-item-active"
     (click)="clickMenuItem('dashboard')" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> <span *ngIf="showText"> Dashboard </span>
  </a>


  <a mat-list-item routerLinkActive="list-item-active"  (click)="clickMenuItem('booking')">
    <mat-icon>booking</mat-icon> <span *ngIf="showText"> Booking </span>
  </a>

  <div class="sub-menus">
    <a *ngIf="'booking'===submenu" mat-list-item routerLinkActive="list-item-active" routerLink="/newBooking">
      <mat-icon>book</mat-icon> <span *ngIf="showText"> New Booking </span>
    </a>

    <a *ngIf="'booking'===submenu" mat-list-item routerLinkActive="list-item-active" routerLink="/booking-history">
      <mat-icon>dashboard</mat-icon> <span *ngIf="showText"> Booking History </span>
    </a>
  </div>

  <a mat-list-item routerLinkActive="list-item-active"
     (click)="clickMenuItem('check')" routerLink="/checkAvailability">
    <mat-icon>check</mat-icon><span *ngIf="showText"> Check Availability </span>
  </a>


  <a *ngIf="!isAdmin" mat-list-item routerLinkActive="list-item-active"
     (click)="clickMenuItem('payment')" routerLink="/payment">
    <mat-icon>payment</mat-icon> <span *ngIf="showText"> Payment </span>
  </a>

  <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active"
     (click)="clickMenuItem('payment')" routerLink="/payment">
    <mat-icon>payment</mat-icon> <span *ngIf="showText"> Payment </span>
  </a>

  <a *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active"
     (click)="clickMenuItem('payment')" routerLink="/inventory">
    <mat-icon>inventory</mat-icon> <span *ngIf="showText"> Inventory </span>
  </a>


</mat-nav-list>
